@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ixbqor');
  src:  url('../fonts/icomoon.eot?ixbqor#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ixbqor') format('truetype'),
  url('../fonts/icomoon.woff?ixbqor') format('woff'),
  url('../fonts/icomoon.svg?ixbqor#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src:
          url('../fonts/ProximaNova-Regular.woff') format('woff'),
          url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}
